.main-chat
  .main-chat__group-info
    .main-group
      .main-group__name
        = @group.name
        %ul.group__memberlist 
          Member : 
          - @group.users.each do |user|
            =  user.name
            %li.group__member
      =link_to edit_group_path(current_user), class: "main-group__edit" do
        Edit
  .main-chat__message-list
    = render @messages
  -#   .message-list
  -#     .message-list__info
  -#       .message-list__info__name
  -#       .message-list__info__date
  -#     .message-list__box
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__box
        = f.text_field :content, class: 'form__box__text', placeholder: 'type a message'
        = f.label :image, class: 'form__box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'form__box__image__file'
      = f.submit 'Send', class: 'form__submit-btn'